body {
  margin-top: 20px;
  background-color: #fff;
  color: #000;
  font-family: "Raleway", "Noto Sans JP";
}
h1 {
  font-size: 27pt;
}
h2 {
  font-size: 20pt;
  margin-top: 25px;
  margin-bottom: 15px;
  text-transform: uppercase;
  border-bottom: dotted 1px black;
}
h3 {
  font-size: 14pt;
  margin-top: 15px;
  margin-bottom: 10px;
}
h4 {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#profile_img {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 30px;
  height: 150px;
  width: 150px;
}
#bio {
  margin-top: 15px;
  margin-bottom: 5px;
}
.news_date {
  margin-right: 3px;
}
.fa-github {
  margin-left: 4px;
}
#lang_menu {
  margin-top: 5px;
}
.github_star {
  vertical-align: top;
  margin-left: 5px;
}
#copyright {
  text-align: center;
  margin-top: 20px;
}
